.calendar {
    min-width: 400px;
}

.week {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.week-number {
    color: gray;
    width: 15px;
}

.day {
    width: 25px;
    height: 25px;
    text-align: center;
}

.work-day {
    background: pink;
}

.ud {
    background: orange;
}

.db-select {
    display: flex;
    flex-direction: row;
    gap: 15px;
}