.week {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.week-number {
    color: gray;
    width: 30px;
}

.day {
    width: 20px;
}

.work-day {
    background: pink;
}

.ud {
    background: orange;
}

.db-select {
    display: flex;
    flex-direction: row;
    gap: 20px;
}